name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Zip
        run: |
          cd custom_components/geek_magic
          zip -r geek_magic.zip .

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: custom_components/geek_magic/geek_magic.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
